<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <custom>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>MyCustomShipping\Test\Model\Carrier\Custom</model>
                <name>Custom</name>
                <title>Custom Shipping</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </custom>
        </carriers>
    </default>
</config>